body {
  background-image: url("./assets/clipart-cloud-sky-background-full-hd-download-11621551480ltakybzx7w.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
  color: aqua;
  text-align: center;
  background-image: linear-gradient(to right, red, yellow);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

#weatherCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.col-3 {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 576px) {
  .col-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
}

#searchBtn {
  margin: 10px;
}